header ul{
    background-color: black;
    float:left;
    width:100%;
    height:30px;
}
header ul li{
    list-style: none;
    color:white;
    float:left;
    padding-left:50px;
    height:30px;
}

main{
    width:100%;
    margin:auto;
}

.left{
    width:60%;
    float:left;
}

.right{
    width:30%;
    float:right;
}

.left h1{
    border-left:2px solid black;
    border-bottom:2px solid darkgray;
}

form{
    margin: 0 auto;
    background-color:#fbfbfb;
    border:3px #ebebeb solid;
    border-radius:10px;
    
}

form h2{
    border-left:2px solid red;
    margin-left:15px;
    font-size:18px;
}

form div{
    padding-top:15px;
    padding-left:15px;
}

.text,textarea{
    color:red;
}

.submit{
    background-color:darkgray;
    color:white;
    margin-bottom: 15px;
}

.right h1{
    border-bottom:1px dotted gray;
}

.right li{
    list-style: none;
}

footer{
    clear: both;
    width: 100%;
    background-color: black;
    color:white;
    text-align: center;
    height:30px;
}

.kiji{
    background-color:#fbfbfb;
    margin-bottom:20px;
    padding-top:15px;
    padding-left:15px;
}

.kiji h3{
    border-bottom:1px solid black;
}